!!!

%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }/
    %title Accounts: #{controller.action_name}
    = stylesheet_link_tag 'main'
    = javascript_include_tag :defaults
  %body{ ( controller.action_name == "index" ) ? { :onload => "highlighted();" } : {} }
    %p{ :style => "color: green" }= flash[:notice]
    %p{ :style => "color: red; font-size:20px;" }= flash[:warning]

    = yield
