!!!

%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }/
    %title Accounts: #{controller.action_name}
    = stylesheet_link_tag 'main'
    = javascript_include_tag :defaults
  %body{ ( controller.action_name == "index" ) ? { :onload => "highlighted();" } : {} }
    .mainBody
      .topNav
        -if @current_user
          %a{ :href => '/accounts' }
            .navButton Home
          %a{ :href => '/accounts/new' }
            .navButton New Account
          %a{ :href => '/incomes' }
            .navButton Income History
          %a{ :href => '/users/logout' }
            .navButton Logout
      .dashboard
        = yield(:dashboard)
      %br{:style => "clear:left;"}
      .bodyContent
        %p.flash_notice= flash[:notice]
        %p.flash_warning= flash[:warning]
        = yield