%h1.pageTitle Accounts
%h1.pageTitle> Total Funds: $#{@accounts.sum(&:amount)}
- odd_or_even = 'odd'
.content_left
  - @accounts.each do |account|
    = render :partial => 'accounts/account', :locals => {:account => account, :highlight => @account, :account_history => (@account_history || AccountHistory.new)}
.content_left#income_form
  %h2 Income
  - form_for @income do |f|
    = f.error_messages
    = render :partial => 'incomes/form', :locals => {:f => f}
- if @history
  #account_history_list
    %h2= @account ? "#{@account.name} History" : "Income Distribution"
    = render :partial => 'account_histories/account_history', :collection => @history, :locals => { :is_history => (@account ? true : false) }
%br.clear
<script type="text/javascript">
\//<!--
function highlighted()
{
- if @account
  setTimeout( 'unhighlight();', 2000 );
}

- if @account
  function unhighlight()
  {
  $("account_row_#{@account.id}").className = "account_row_#{display_type( @account, nil )}"
  }
  
- if @history
  function account_history_show_description(history_id)
  {
  $("history_description_" + history_id).style.visibility = "visible"
  }
\//-->
</script>